/* Variables */
:root {
  --clr-neutral-100: hsl(225, 100%, 100%);
  --clr-neutral-200: hsl(225, 100%, 98%);
  --clr-neutral-400: hsl(224, 23%, 55%);
  --clr-neutral-900: hsl(223, 47%, 23%);
  --clr-primary-500: hsl(225, 100%, 94%);
  --clr-primary-800: hsl(245, 75%, 52%);

  --fs-300: calc(var(--fs-400) * 0.875);
  --fs-400: 1rem;
  --fs-700: calc(var(--fs-400) * 1.75);

  --fw-medium: 500;
  --fw-bold: 700;
  --fw-black: 900;
}

/* Reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Global Styles */
html,
body {
  font-family: "Red Hat Display", sans-serif;
  background-color: var(--clr-primary-500);
  color: var(--clr-neutral-400);
  font-size: var(--fs-400);
  font-weight: var(--fw-medium);
  line-height: 1.6;
}

/* Styles only for the challenge */
main {
  display: grid;
  place-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--clr-neutral-900);
  font-size: var(--fs-700);
  font-weight: var(--fw-black);
  line-height: 1;
}

/* Compesition */
.grid-flow {
  display: grid;
  gap: var(--gap, 1rem);
}

.flow-row {
  display: flex;
  gap: var(--gap, 1rem);
}

/* Utilities */
.grid {
  display: grid;
}

.text-neutral-900 {
  color: var(--clr-neutral-900);
}

.bg-primary-500 {
  background-color: var(--clr-neutral-200);
}

.text-300 {
  font-size: var(--fs-300);
}

.font-black {
  font-weight: var(--fw-black);
}

.p-24 {
  padding: 1.5rem;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.push-right {
  margin-left: auto;
}

.radius-4 {
  border-radius: 0.5rem;
}

/* Blocks */
.card {
  background-color: var(--clr-neutral-100);
  max-width: 40ch;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(0 0 0 / 0.1);
}

.card__image {
  width: 100%;
}

.card__content {
  --gap: 1.5rem;
  padding: 1.5rem;
}

a,
.link {
  color: var(--clr-primary-800);
  border: none;
  text-decoration: underline;
  background-color: transparent;
  font-weight: var(--fw-bold);
  cursor: pointer;
}

a:hover,
a:focus,
.link:hover,
.link:focus {
  font-weight: var(--fw-medium);
  text-decoration: none;
}

.btn {
  display: inline-block;
  padding: 1em 2em;
  background-color: var(--clr-primary-800);
  color: var(--clr-neutral-100);
  text-decoration: none;
  border-radius: 1rem;
  font-weight: var(--fw-bold);
  box-shadow: 0 2rem 1rem rgba(0 0 0 / 0.1);
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  opacity: 0.75;
}

.btn[data-type="ghost"] {
  background-color: transparent;
  color: var(--clr-neutral-400);
  font-weight: var(--fw-black);
  box-shadow: none;
}

.btn[data-type="ghost"]:hover,
.btn[data-type="ghost"]:focus {
  opacity: 1;
  color: var(--clr-neutral-900);
}
